<div class="eventDetailsContent" *ngIf="event">
    <h2 class="text-center">Event Details<span style="font-size: 0.8em; margin-left: 0.5em;">🎞</span></h2>
    <hr class="mb-5">

    <div class="ag-format-container">
        <div class="ag-courses_box">

            <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                    <div [ngStyle]="{'background-color': eventService.getBackgroundColor(event.categoryId)}" class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        {{event.name}}
                    </div>

                    <div class="ag-courses-item_creator">
                        <b>Creator:</b> {{eventCreatorName}}
                    </div>

                    <div class="ag-courses-item_location">
                        <b>Location:</b> {{event.location}}
                    </div>

                    <div class="ag-courses-item_date-box">
                        <div>
                            Start:
                            <span class="ag-courses-item_date">
                                {{event.start | date: 'EEE, dd MMM YYYY HH:mm'}}
                            </span>
                        </div>
                        <div>
                            End:
                            <span class="ag-courses-item_date">
                                {{event.end | date: 'EEE, dd MMM YYYY HH:mm'}}
                            </span>
                        </div>
                    </div>

                    <!-- Popup element -->
                    <div class="popup">
                        Join
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>