<div class="eventDetailsContent" *ngIf="event">
    <h2 class="text-center">Event Details<span style="font-size: 0.8em; margin-left: 0.5em;">🎞</span></h2>
    <hr class="mb-5">
    <div class="">
        <div class="row  mb-5">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-header">
                        <div>
                            <h1>{{event.name}}</h1>
                        </div>
                    </div>
                    <div class="card-body">

                        <div>
                            <h5 style="font-style: italic;">{{event.start | date: 'medium'}} - {{event.end | date:
                                'medium'}}</h5>
                        </div>
                        <div>
                            <h5>{{event.location}}</h5>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>Created by: {{eventCreatorName}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group d-flex">
        <button class="btn btn-success">Join</button>
    </div>
</div>