.eventDetailsContent {
  background-color: aliceblue;
  border-radius: 1em;
  padding: 50px;
  text-align: center;
  /* overflow: scroll; */
}

.ag-format-container {
  margin: 0 auto;
}


body {
  background-color: #000;
}

.ag-courses_box {
  display: flex;
  /* Flexbox for alignment */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  flex-wrap: wrap;
  /* Allow wrapping for smaller screens */
  padding: 50px 0;
}

.ag-courses_item {
  width: 60em;
  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
  
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(16);
}

.ag-courses-item_title {
  margin: 30px 0 15px;

  overflow: hidden;

  font-weight: bold;
  font-size: 35px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_creator {
  overflow: hidden;
  margin: 20px 0 25px;
  font-style: italic;
  font-size: 20px;
  color: #FFF;

  z-index: 2;
  position: absolute;
  top: 0;
}

.ag-courses-item_location {
  overflow: hidden;
  font-style: italic;
  font-size: 20px;
  color: #FFF;

  z-index: 2;
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.ag-courses-item_date-box {
  margin-bottom: 35px;
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  /* background-color: #3ecd5e; */

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 40%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/* Popup styling */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  display: none;
  /* Hidden by default */
  font-size: 4em;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 40px;
  border-radius: 65px;
  text-align: center;
  z-index: 10;

  transition: opacity 0.3s ease, transform 0.7s ease;
}

/* Show popup on hover */
.ag-courses-item_link:hover .popup {
  display: block;
  opacity: 1; /* Fully visible on hover */
    transform: translate(130%, -50%) scale(0.6); /* Full size */
}

.ag-courses-item_title, 
.ag-courses-item_creator, 
.ag-courses-item_location, 
.ag-courses-item_date-box {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.ag-courses-item_link {
  background-color: rgba(18, 18, 18, 0.95);
  position: relative;
  overflow: hidden;
}






.paginationBtn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #b3b3b3 0%, #d1d1d1 100%);
  background-color: #b3b3b3;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.seeEventParticipantsBtn {
  background-image: linear-gradient(90deg, #434343, #766f6f);
  width: 100%;
  border: none;
  padding: 20px 0;
  font-size: 20px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.seeEventParticipantsBtn:focus {
  box-shadow: rgba(79, 79, 79, 0.6) 0 0 0 4px, rgba(46, 46, 46, 0.4) 0 4px 6px;
}

.seeEventParticipantsBtn:hover {
  background-image: linear-gradient(90deg, #484848, #6a6565);
  box-shadow: rgba(62, 62, 62, 0.5) 0 6px 12px, rgba(62, 62, 62, 0.3) 0 4px 8px -2px;
  transform: translateY(-2px);
}

/* .seeEventParticipantsBtn:active {
  background-image: linear-gradient(90deg, #2b2b2b, #1a1a1a);
  box-shadow: #2b2b2b 0 3px 6px inset;
  transform: translateY(2px);
} */