.event {
    padding: 4px;
    border-radius: 4px;
    

    /* flex: 1 1 auto; */
    display: flex;
    flex-direction: column;
    font-size: clamp(0.7em, 1em - 0.1em * var(--event-count), 1em);
    overflow: visible;
}

.event-name {
    font-size: 0.9em;
    font-weight: 600;
}

.event-time {
    font-size: 0.8em;
    text-align: center;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    margin-bottom: 2px;
}

.event-time:hover {
    transform: scale(1.03); /* Slight zoom effect */
    transition: transform 0.2s ease-in-out;
}

.event-location {
    font-size: 0.8em;
    font-style: oblique;
    font-weight: bold;
}

.eventModelBtn {
    text-transform: none;
    text-align:start;
    margin: 0;
    padding: 0;
  }