<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-primary">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" placeholder="Name" required
            minlength="2" #name="ngModel">
        <label>Name</label>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            <small *ngIf="name.errors?.['required']">Name is required.</small>
            <small *ngIf="name.errors?.['minlength']">Name must be at least 2 characters long.</small>
        </div>

    </div>

    <div class="mb-3 form-floating">
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="password"
            [(ngModel)]="model.password" placeholder="Password" required minlength="6"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*" #password="ngModel">
        <label>Password</label>

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger mt-1">
            <small *ngIf="password.errors?.['required']">Password is required.</small>
            <small *ngIf="password.errors?.['minlength']">• Password must be at least 6 characters long.</small>
            <br>
            <small *ngIf="password.errors?.['pattern']">• Password must contain at least one uppercase letter, one
                lowercase letter, and one digit.</small>
        </div>

        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"
            id="togglePassword"
            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
        </i>
    </div>


    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit" [disabled]="registerForm.invalid">Register</button>
        <button class="btn btn-outline-danger me-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>