<div class="modal-background">
    <div class="modal-content">
        <form #createEventForm="ngForm" (ngSubmit)="create()" autocomplete="off">
            <h2 class="text-center">Create New Event <span style="font-size: 0.8em; margin-left: 0.5em;">⛳</span></h2>
            <hr>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="name" [(ngModel)]="model.name" placeholder="Name">
                <label>Name</label>
            </div>

            <div class="p-fluid mb-3">
                <div class="p-field">
                    <p-calendar name="start" [(ngModel)]="model.start" [showTime]="true" [showIcon]="true" [showOnFocus]="false" inputId="calendar-24h" placeholder="Start date"></p-calendar>
                </div>
            </div>
            
            <div class="p-fluid mb-3">
                <div class="p-field">
                    <p-calendar name="end" [(ngModel)]="model.end" [showTime]="true" [showIcon]="true" [showOnFocus]="false" inputId="calendar-24h" placeholder="End date"></p-calendar>
                </div>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="location" [(ngModel)]="model.location"
                    placeholder="Location">
                <label>Location</label>
            </div>

            <p-dropdown class="custom-dropdown text-dark" name="category" [options]="categories" [(ngModel)]="model.category" optionLabel="name" placeholder="Select a Category">
                <ng-template let-category pTemplate="item">
                    <span>{{category.emoticon}} {{ category.name }}</span>
                </ng-template>

                <ng-template let-category pTemplate="selectedItem">
                    <span *ngIf="category">{{category.emoticon}} {{ category.name }}</span>
                    <span *ngIf="!category">Select Category</span>
                  </ng-template>
            </p-dropdown>

            <div class="form-group text-center mt-5">
                <button class="btn btn-success me-2" type="submit">Create</button>
                <button class="btn btn-outline-danger me-2" (click)="close()" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>