<div class="d-flex" style="justify-content: space-between;">
  <button class="btn btn-secondary myEventsBtn">⚙ My events</button>
  <div class="d-flex">
    <button (click)="changeMonth(-1)" class="paginationBtn me-4" role="button">
      <svg width="1em" height="1em" viewBox="0 0 24 24" style="font-size: 1.8em;">
        <path fill="white" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>

    <h1 class="text-center currentMonth">{{monthName}} - {{monthYear}}{{monthEmoticon}}</h1>

    <button (click)="changeMonth(1)" class="paginationBtn ms-4 btn btn-primary" role="button">
      <svg width="1em" height="1em" viewBox="0 0 24 24" style="font-size: 1.8em;">
        <path fill="white" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>

  <button (click)="modalToggle()" class="btn btn-primary d-flex gap-3 paginationBtn createEventBtn" style="align-items: center;">
    <div>Create event</div>
    <svg width="1em" height="1em" viewBox="0 0 24 24" style="font-size: 1.8em;">
      <rect x="10.5" y="2" width="3" height="20" fill="white"></rect>
      <rect x="2" y="10.5" width="20" height="3" fill="white"></rect>
    </svg>
    <!-- <i class="fa fa-plus-thin" style="font-size: 2em; padding-top: 3px; font-weight: 100;"></i> -->
  </button>
</div>



<div class="calendar">
  <!-- Days of the week headers -->
  <div class="day-header" [ngStyle]="{'background-color': eventService.getBackgroundColorForDayOfWeek(monthName)}"
    *ngFor="let day of daysOfWeek">{{ day }}</div>

  <!-- Display each day in the month, with blanks for alignment -->
  <div class="day-box" *ngFor="let day of daysInMonth">
    <ng-container *ngIf="day.date; else blankDay">
      <div class="date">{{ day.date | date: 'd' }}</div>
      <div class="events">
        <!-- Display each event that falls on this day -->
        <div class="event" *ngFor="let event of getEventsForDay(day.date)"
          [ngStyle]="{ 'background-color': eventService.getBackgroundColor(event.categoryId), 'color': eventService.getFontColor(event.categoryId) }">
          <div class="event-name">{{ event.name }}</div>
          <div class="event-time">{{ event.start | date: 'short' }} - {{ event.end | date: 'short' }}</div>
          <div class="event-location">{{ event.location }}</div>
        </div>
      </div>
    </ng-container>
    <!-- Template for blank day boxes -->
    <ng-template #blankDay>
      <div class="blank"></div>
    </ng-template>
  </div>
</div>

@if (showModal) {
<app-event-create-modal (closeModal)="closeModal($event)"></app-event-create-modal>
}