.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 7 columns for each day of the week */
    gap: 10px;
    padding: 10px;
}

.day-header {
    text-align: center;
    font-weight: bold;
}

.day-box {
    /* max-width: 13em; */

    width: 100%;
    max-height: 10.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f9f9f9;
}

.date {
    font-weight: bold;
    margin-bottom: 5px;
}

.events {
    margin-top: auto;
    /* Push events to the bottom of the box */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}

.event {
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 4px;

    /* max-width: 15em; */

    flex: 1 1 auto;
    min-height: 15px;
    font-size: 1em;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
}

.event-name {
    font-size: 0.9em;
    font-weight: 600;
}

.event-time,
.event-location {
    font-size: 0.8em;
}

.blank {
    background-color: transparent;
    border: none;
}