.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 7 columns for each day of the week */
    gap: 10px;
    padding: 10px;
}

.day-header {
    text-align: center;
    font-weight: bold;
    background-color:goldenrod;
    border-radius: 0.3em;
}

.day-box {
    width: 100%;
    max-height: 12em;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f9f9f9;
    overflow: hidden;
}

.date {
    font-weight: bold;
    margin-bottom: 5px;
}

.events {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    overflow-y: auto;
}

.events::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.event {
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 4px;

    /* flex: 1 1 auto; */
    display: flex;
    flex-direction: column;
    font-size: clamp(0.7em, 1em - 0.1em * var(--event-count), 1em);
    overflow: visible;
    border-bottom: 1px solid #eee;
}

.event-name {
    font-size: 0.9em;
    font-weight: 600;
}

.event-time {
    font-size: 0.8em;
}

.event-location {
    font-size: 0.8em;
    font-style: oblique;
    font-weight: bold;
}

.blank {
    background-color: transparent;
    border: none;
}